//#5C6A77
$background-color-page: #F9CAE4;
$background-color-result: #FFF;
$background-color-result-shadow: #444;
$background-gradient: linear-gradient(#192231, #494e6b);
$text-color-result-body: #333;
$text-color-result-title: #333;
$text-color-result-year: #333;

$text-color-rec-rating: #777;

$font-result-body: 'Oxygen', Helvetica, Arial, sans-serif;
$font-result-title: 'Noto Serif', Times, "Times New Roman", serif;
//$background-color-page: #C774E8;
//$background-color-result: #94D0FF;
//$background-color-result-shadow: #72A8DD;
//$vaporwave-gradient: linear-gradient(#8795E8, #C774E8, #8795E8);
//$text-color-result-body: white;
//$text-color-result-title: #feffbe;